.order-section,
.order-2-section
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	background-repeat: no-repeat 
	background-position: 50% 50% 
	padding: 60px 0
	
	.order-wrapper
		width: 550px
		display: block
		text-align: center
	
	.order-pre-title
		font-family: $d
		font-weight: normal 
		font-size: 23px  
		
	.order-title
		font-size: 27px
		color: $blue
		

.order-2-section
	padding: 70px 0
	
	.order-pre-title
		margin-bottom: 25px 
		
	.order-title
		margin-bottom: 115px 

	.order-wrapper
		text-align: left
		
	.order-form
		.button-group
			